<!DOCTYPE html>
<html>
    <head> 
        <title> Locadora De Carros </title>
    </head>

    <body>



        <div class="row mb-5">
            <div class="col-sm-4">
                <div class="card">
                <%= image_tag image_url('hyndai-creta-prata-frente.jpg'), class: 'card-img-top' %>
                    <div class="card-body ">
                        <h4 class="card-title">Creta</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Hydai Creta 2021</h6>
                        <p class="card-text"> Aluga essa merda, pfv :')</p>
                    </div>    
                    <uL class="list-group list-group-flush">
                        <li class="list-group-item">Revisão Inclusa</li>
                        <li class="list-group-item">Seguro Incluso</li>
                    </uL>
                    <div class="card-body ">
                        <a href="#" class="card-link">Quero Alugar</a>
                        <a href="#" class="card-link">Não obg</a>
                    </div>
                </div>           
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <%= image_tag image_url('jeep_renagete_Preto_frente.jpg'), class: 'card-img-top' %>
                    <div class="card-body ">
                        <h4 class="card-title">Renagate</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Jeep Renagate 2021</h6>
                        <p class="card-text"> Aluga essa merda, pfv :')</p>
                    </div>
                    <uL class="list-group list-group-flush">
                        <li class="list-group-item">Revisão Inclusa</li>
                        <li class="list-group-item">Seguro Incluso</li>
                    </uL>
                    <div class="card-body">
                        <a href="#" class="card-link">Quero Alugar</a>
                        <a href="#" class="card-link">Não obg</a>
                    </div>
                </div>           
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <%= image_tag image_url('honda-civic-prata-frente.jpg'), class: 'card-img-top' %>
                    <div class="card-body ">
                        <h4 class="card-title">Civic</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Honda Civic</h6>
                        <p class="card-text"> Aluga essa merda, pfv :')</p>
                    </div>
                    <uL class="list-group list-group-flush">
                        <li class="list-group-item">Revisão Inclusa</li>
                        <li class="list-group-item">Seguro Incluso</li>
                    </uL>
                    <div class="card-body ">
                        <a href="#" class="card-link">Quero Alugar</a>
                        <a href="#" class="card-link">Não obg</a>
                    </div>
                </div>           
            </div>
        </div>
    </div>



    </body>

</html>
