<!DOCTYPE html>
<html>
    <head> 
        <title> Locadora De Carros </title>
        
    </head>

    <body>
    
        <table>
            <tr>
                <td>
                <%= image_tag image_url('hyndai-creta-prata-frente.jpg'), class:'card-img' %>
                <div class="card-body mb-5 ">
                    <h3 class="card-subtitle mb-2 text-muted">Hydai Creta 2021</h3>
                </div>  
                </td>
                <td>
                     <uL class="list-group list-group-flush">
                        <h3 class="card-subtitle mb-2 text-muted">Hydai Creta 2021</h3>
                        <h1 class="card-text"> R$ 137,57</h1>
                        <li class="list-group-item">Proteção do Veículo</li>
                        <li class="list-group-item">Melhor Preço garantido</li>
                        <li class="list-group-item">KM Livre(ilimitado)</li>
                        <li class="list-group-item">Taxas da Locadora</li>
                        <li class="list-group-item">Sem Taxa de Alteração</li>
                        <li class="list-group-item">Pague no Destino</li>
                    </uL>
                    <div class="card-body">
                        <a class="btn  btn-lg btn-success" href="#" role="button">Continuar</a>
                    </div>
                </td> 
            </tr>    
        </table>
        
        <table>
            <tr>
                <td>
                 <%= image_tag image_url('jeep_renagete_Preto_frente.jpg'), class: 'card-img' %> 
                <div class="card-body mb-5 ">
                </div>  
                </td>
                <td>
                     <uL class="list-group list-group-flush">
                        <h3 class="card-subtitle mb-2 text-muted">Jeep Renagete</h3>
                        <h1 class="card-text"> R$ 148,80</h1>
                        <li class="list-group-item">Proteção do Veículo</li>
                        <li class="list-group-item">Melhor Preço garantido</li>
                        <li class="list-group-item">KM Livre(ilimitado)</li>
                        <li class="list-group-item">Taxas da Locadora</li>
                        <li class="list-group-item">Sem Taxa de Alteração</li>
                        <li class="list-group-item">Pague no Destino</li>
                    </uL>
                    <div class="card-body">
                        <a class="btn  btn-lg btn-success" href="#" role="button">Continuar</a>
                    </div>
                
                </td> 
            </tr>    
        </table>

        <table>
            <tr>
                <td>
                 <%= image_tag image_url('honda-civic-prata-frente.jpg'), class: 'card-img' %> 
                <div class="card-body mb-5 ">
                </div>  
                </td>
                <td>
                     <uL class="list-group list-group-flush">
                        <h3 class="card-subtitle mb-2 text-muted">Honda Civic</h3>
                        <h1 class="card-text"> R$ 195,50</h1>
                        <li class="list-group-item">Proteção do Veículo</li>
                        <li class="list-group-item">Melhor Preço garantido</li>
                        <li class="list-group-item">KM Livre(ilimitado)</li>
                        <li class="list-group-item">Taxas da Locadora</li>
                        <li class="list-group-item">Sem Taxa de Alteração</li>
                        <li class="list-group-item">Pague no Destino</li>
                    </uL>
                    <div class="card-body">
                        <a class="btn  btn-lg btn-success" href="#" role="button">Continuar</a>
                    </div>
                
                </td> 
            </tr>    
        </table>

    </body>

</html>
