<h1>Sobre nós...</h1>

<p>
Esse é um projeto realizado por <strong>Quêmia e Maria Clara</strong>. 
</p>

<p>
Alunas dos quarto perio de Ciência da Computação na UESPI, para a disciplina de Programacao III.
Usamos as tecnologias:
</p>

<ul>
    <li>Ruby: 2.7.2</li>
    <li>Rails: 6.1.1</li>
</ul>

===================
        <!-- Telefone-->
        <div class="form-group">
        <label class="col-md-2 control-label" for="prependedtext">Telefone</label>
        <div class="col-md-2">
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input id="prependedtext" name="prependedtext" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
            OnKeyPress="formatar('## #####-####', this)">
            </div>
        </div>
        