<h1>Sobre nós...</h1>

<p>
Esse é um projeto realizado por <strong>Quêmia e Maria Clara</strong>. 
</p>

<p>
Alunas dos quarto perio de Ciência da Computação na UESPI, para a disciplina de Programacao III.
Usamos as tecnologias:
</p>

<ul>
    <li>Ruby: 2.7.2</li>
    <li>Rails: 6.1.1</li>
</ul>