<!DOCTYPE html>
<html>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Locadora M&Q</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                

                    <li class="nav-item">
                        <%= link_to "Home", root_path, method: :get, class:"nav-link"%>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </head>

    <body>
        <div class="container">
            <h3>Projeto realizado para a disciplina de Programação III</h3>
            <h5>Projeto realizado pelas alunas: <strong>Quêmia Caroline e Maria Clara B.</strong></h5>
            <br>
            <p>Tecnologias utilizadas:</p>
            <ul>
                <li>Ruby: 2.7.2</li>
                <li>Rails: 6.1.3</li>
            </uL>
        </div>
    </body>
</html>